<div class="container">
	<br>
	<h3>Categories</h3>
	<div class="row">
		<button type="button" class="btn btn-success col-md-2 m-1" (click)="addNewCategory()">Add New Category</button>
		<button type="button" class="btn btn-info col-md-2 m-1" (click)="goToProducts()">All Products</button>
	</div>
	<br>
	<div class="row col-md-6">
		<table class="table border">
			<thead class="thead-light">
			<tr>
				<th scope="col">No</th>
				<th scope="col">Category Name</th>
				<th scope="col">Action</th>
			</tr>
			</thead>
			<tbody *ngIf="listAllCategory.length > 0">
			<tr *ngFor="let category of listAllCategory; let i = index">
				<th scope="row">{{i+1}}</th>
				<td>{{category.name}}</td>
				<td>
					<button type="button" class="btn btn-primary m-1" (click)="editCategory(category)">
					  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn btn-danger m-1" (click)="deleteCategory(category)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
			</tbody>
			<tbody *ngIf="listAllCategory.length == 0">
			<tr>
				<td colspan="6" class="text-center">Data not found</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>